@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    font-family: Arial;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #515151;
}

a:before {
   font-family: "FontAwesome";
   content: "\f085";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

a::before {
    /* Other properties here, look in the above code snippets */
    width: 120px; /* add some desired width here to prevent nudge */
    color: red;
}